* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

main {
  height: 100%;
  color: white;
  position: relative;
}
.elem {
  border-bottom: 2px solid white;
  font-size: 30px;
  text-transform: uppercase;
  padding: 20px 0;
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
h1 {
  mix-blend-mode: difference;
}
.elem img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  transition: all linear 0.3s;
  opacity: 0;
}
