* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
main {
  height: 100%;
  width: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  
  nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 1.5rem;
      top: 0;
      height: 10%;
      
      .suggestions {
          display: flex;
          flex-direction: column;
          gap: 10px;
          position: absolute;
          top: 8%;
          left: 21%;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          z-index: 11;
          background-color: white;
          display: none;
          height: fit-content;
          max-height: 55vh;
          overflow-y: auto;
          &::-webkit-scrollbar{
            display: none;
          }
          
          .suggestion {
              width: 66vw;
              display: flex;
              align-items: center;
              gap: 10px;
              font-size: 0.9rem;
              font-weight: 400;
              padding: 10px 30px;
            }
        }
        
        a {
            text-decoration: none;
            color: black;
            font-weight: 600;
    }

    .logo {
        height: 40px;
        width: 40px;
        
        img {
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    
    .links {
        a {
            margin-left: 15px;
        }
    }
    
    .search {
        background-color: rgba(143, 142, 142, 0.263);
        display: flex;
        align-items: center;
        border-radius: 50px;
        input {
            height: 30px;
            width: 60vw;
            border: none;
            background-color: transparent;
            padding: 1rem;
            outline: none;
            &::placeholder {
                font-weight: 600;
                font-size: 0.75rem;
                color: rgb(149, 146, 146);
            }
        }
        
        span {
            padding: 0.25rem 0.5rem;
            border-radius: 40px;
            border-left: 2px solid rgba(199, 195, 195, 0.641);
        }
    }
    
    .icons {
        display: flex;
        align-items: center;
        gap: 1rem;
        i {
            color: rgb(143, 142, 142);
            font-size: 1.2rem;
        }
        
        .pfp {
            display: flex;
            align-items: center;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            overflow: hidden;
            
            img {
                width: 100%;
                height: 40px;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}

.con {
    
    display: flex;
    height: 90%;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1.2rem;
    padding: 1rem 2rem;
    position: relative;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      display: none;
    }

    .img {
      width: 14rem;
      overflow: hidden;
      img {
        width: 100%;
        border-radius: 1.1rem;
        height: auto;
        object-fit: cover;
        object-position: center;
      }
    }
  }
  .overlay {
    transition: 1s;
    height: 90%;
    width: 100vw;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.699);
    display: none;
    z-index: 10;
  }
}
