*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
}

.post{
    border-radius: 10px; 
    width: 350px;
    padding: 30px;
    background-color: rgba(173, 196, 239,0.4);
    text-align: center;
    position: relative;
}

.post img{
    border-radius: 10px; 
    object-fit: cover;
    width: 100%;
}

.post i{
    position: absolute;
    font-size: 90px;
    color: rgb(235, 86, 171);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0) rotate(-60deg);
    opacity: 0;
    transition: all ease 0.3s;
}
