* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

main {
  height: 100%;
  background-color: rgb(106, 254, 239);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 250px;
  height: 350px;
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
  border: 2px solid black;
  position: relative;
}

.stories {
  border-bottom: 1px solid black;
  height: 90px;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 5px;
}

.stories::-webkit-scrollbar{
  display: none; 
}
.story {
  border: 3px solid rgb(240, 59, 89);
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 5px;
  display: inline-block;
  &:hover{
    cursor: pointer;
  }
}

img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.full-screen{
  height: 100%;
  width: 100%;
  position: absolute;
  display: none;
  background-size: cover;
  background-position: center;
}