*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e1e1e;
    color: white;
    position: relative;
}

.cursor{
    height: 20px;
    width: 20px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    border-radius: 50%;
    transition: all cubic-bezier(0.23, 1, 0.320, 1) 0.1s;
    mix-blend-mode: difference;
}

h1{
    font-size: 150px;
    text-transform: uppercase;
}
